.wrapper {
  display: grid;
  grid-template-columns: 241px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar main'
    'footer footer';
  min-height: 100vh;
}

.sidebar {
  padding-top: 24px;
  background-color: var(--background-dark);
  min-width: 241px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
  background: var(--background-gradient-dark);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer {
  grid-area: footer;
}

.logo {
  padding: 0 24px;
  margin-bottom: 22px;
}

.menu {
  padding: 0 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.menu-link {
  height: 42px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: var(--text-sm);
  font-weight: 700;
  padding: 0;
  gap: 16px;
  transition: color 0.2s;
}

.menu-link--active {
  color: var(--text-light);
}

.menu-link:hover {
  color: var(--text-light);
}

.header-root {
  background-color: var(--background-header);
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation-btn {
  width: 32px;
  height: 32px;
  background-color: var(--background-dark);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-500);
}

.quick-action-container {
  display: flex;
  align-items: center;
}

.quick-action-nav {
  display: flex;
  gap: 16px;
  margin: 0 16px;
}

.quick-action-nav__item {
  font-weight: 700;
  color: var(--text-default);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1.76px;
  transition: color 0.2s;
}

.quick-action-nav__item:hover {
  color: var(--text-light);
  transform: scale(1.04);
}

.slash {
  background: var(--gray-100);
  height: 25px;
  margin: 0 16px;
  width: 1px;
}

.primary-link {
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--btn-secondary-background);
  color: var(--text-dark);
  border-radius: 500px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary-link--blank {
  color: var(--text-default);
  background-color: transparent;
}

.primary-link--fb {
  background-color: #405a93;
  color: var(--text-light);
}

.primary-link--border {
  background-color: var(--background-light);
  border: 2px solid var(--black-900);
}

.body-root {
  padding: 16px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.playlist-section {
  display: flex;
  flex-direction: column;
}

.playlist-section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--text-xs);
  margin-bottom: 16px;
}

.title {
  font-weight: 700;
  font-size: var(--text-lg);
  color: var(--text-light);
}

.link {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.playlist-section__body {
  display: flex;
  gap: 24px;
}

.card {
  background-color: var(--background-card);
  width: 213px;
  padding: 16px;
  border-radius: 6px;
  line-height: 1.6;
}

.card__body {
  width: 100%;
}

.card__body img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 16px;
}

.card__body-name {
  color: var(--text-light);
}

.card__body-description {
  margin-top: 4px;
  font-size: var(--text-sm);
}
