*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  /* padding: 15px; */
  /* margin: 2%; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #65D36E;
}

#text{
    font-weight: 600;
}

#form{
    border: 5px solid;
    background-color: aliceblue;
    border-radius: 10px;
}

#button{
    height: 40px;
    width: 400px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid
}

#ou{
    font-weight: 200;
}

.linha{
    flex: 1;
    height: 1px;
    color: #000;
}

#label_form {
    font-size: 15px;
}

.form-control {
    height: 40px;
    width: 400px;
    font-size: 15px;
}

#esqueci {
    padding-right: 240px;
    color: rgb(88, 85, 85);
    font-size: 15px;
    font-weight: 200;
}

.form-check {
    padding-right: 100px;
    color: rgb(88, 85, 85);
    font-size: 15px;
    font-weight: 300;
}

#submit{
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #65D36E;
}

footer {
    font-weight: 400;
} 

.or-text {
    margin: 22px auto;
    max-width: 85%;
    text-align: center;
    display: block;
    position: relative;
    width: 400px;
  }
  
.or-text::before {
    content: '';
    position: absolute;
    display: block;
    width: 42%;
    border-top: 1px solid rgb(88, 85, 85);
    top: 13px;
}
  
.or-text::after {
    content: '';
    position: absolute;
    display: block;
    width: 42%;
    border-top: 1px solid rgb(88, 85, 85);
    top: 13px;
    right: 0;
}

@media (max-height: 700px) {
    body {
        margin: 30px 0;
    }
}
